.work-sans-normel {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styele */
.text-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 36px;
}

.section-tile {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center {
    text-align: center;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 38px;

}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic {
    width: 580px;
}

.banner-description {
    margin-bottom: 30px;
}

.contact-btn {
    color: #FD6E0A;
    border: 2px solid #f68b1f;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 36px;
}

/* main styles */
main {
    max-width: 1140px;
    /* auto mane hocche joto tuk ase vag jog kore naw  */
    margin: 0 auto;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px 0;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 600;
}

/* skill section styles */
.skills-container {
    display: flex;
    gap: 24px;
    margin: 100px 0;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* resume section style */
.resume-container {
    margin-top: 80px;
    display: flex;
    gap: 24px;
}

hr {
    margin: 30px 5px;
}

.resume-download-cv {
    margin: 50px;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 8px;
}

.experience-sub-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* footer style  */

footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}