.work-sans-normel {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styele */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 36px;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 38px;

}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic {
    width: 580px;
}